# for oxlint
# https://oxc.rs/docs/guide/usage/linter/generated-cli.html#ignore-files

# I know it is deprecated...just ignore the warning
# https://eslint.org/docs/latest/use/configure/ignore-deprecated

**/server/lib/google-drive/**
**/node_modules
**/.next
**/dist
**/build
**/coverage
**/out